# Capstone assignment - Neighborhoods in Toronto

Hello, welcome to my notebook. This is written for course assignment of applied data science.

Importing necessary libraries for this assignment.

In [1]:
import pandas as pd
import numpy as np

### 1. Download data

"**Note:** There are different website scraping libraries and packages in Python. For scraping the above table, you can simply use pandas to read the table into a pandas dataframe"

Here I am scrapping the table data of neighborhoods in Toronto based on postal code from wikipedia website using pandas `read_html` function.

In [2]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

### 2. Data cleaning

Next we are ignoring the rows of Borough has not assigned and reseting the index of resulted data frame `df`

In [3]:
df= df[df.Borough != 'Not assigned'].reset_index(drop=True)
df.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

Here we are verifying the whether any postal codes are duplicated using `duplicated`.

In [4]:
df['Postal code'].duplicated().any()

False

There are no duplicates in the postal code. Next checking the whether there are any NaN values in Neighborhood column using `isnull`.

In [5]:
df['Neighborhood'].isnull().sum(axis = 0)

0

To make data frame as asked in the question, the character between neighborhood `/` with `,`.

In [6]:
df['Neighborhood'] = df['Neighborhood'].str.replace(' /',',')
df.head()

  Postal code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

There are no NaN values in the Neighborhood column. It seems the downloaded table from wikipedia have taken care of these things. Now the dimensions of data frame `df` are printing using `shape`.

In [7]:
print('Data shape:',df.shape)

Data shape: (103, 3)